{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>	Linux 系统日志</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta name="description" content="Place your description here" />
<meta name="keywords" content="put, your, keyword, here" />
<meta name="author" content="Templates.com - website templates provider" />
<link href="{% static "logstyle.css" %}" rel="stylesheet" type="text/css" />
<!--[if lt IE 7]><script type="text/javascript" src="ie_png.js"></script><script type="text/javascript">ie_png.fix('.png, #nav li a, .button span, .button a');</script><![endif]--> 
</head>

<body id="page1">
	<div class="tail-right"></div>
	<div class="tail-right-top"></div>
	<div class="tail-top">
		<div class="tail-bottom">
			<div class="tail-bg">
				<div class="top-bg">
					<div class="tail-right-bot"></div>
					<div class="bot-bg">
						<div id="main">
<!-- header -->
							<div id="header">
								<h1><a>whirlpool</a><span>Free 1024 x 768 Optimized Website Template Collect from cssMoban.com</span></h1>
								<!--ul class="top-links">
									<li><a><img alt="home" src="{% static "images/icon-home.gif" %}" /></a></li>
									<li><a href="contact.html"><img alt="mail" src="{% static "images/icon-mail.gif" %}" /></a></li>
									<li><a href="sitemap.html"><img alt="map" src="{% static "images/icon-map.gif" %}" /></a></li>
								</ul-->
							</div>
							<div class="extra-img"><img alt="extra-img" src="{% static "images/extra-img.png" %}" class="png"/></div>
							<div class="wrapper">
<!-- nav -->
								<div id="nav">
									<ul>
										<li><a>系统日志</a></li>
										<!--li><a href="about.html">About Us</a></li>
										<li><a href="articles.html">Articles</a></li>
										<li><a href="contact.html">Contact Us</a></li>
										<li><a href="sitemap.html">Site Map</a></li-->
									</ul>
								</div>
<!-- content -->
								<div id="content">
									<div class="section">
<!-- box begin -->
										<div class="box">
											<div class="left-top-corner png"><div class="right-top-corner png"><div class="border-top png"></div></div></div>
											<div class="border-left png">
												<div class="border-right png">
													<div class="inside png">
														<h2>系统日志筛选后的重要信息！</h2>
 											                        <p><strong>系统当前时间：{{ date }}</strong> </p>
 											                        <p><strong>远程访问的ip：</strong>  <em>10.236.44.219</em> <em>10.236.44.219</em>  <em>10.236.44.219</em> <em>10.236.44.219</em> <em>10.236.44.219</em></p>
 											                        <p><strong>系统启动的服务：</strong>Apache  tomcat mysql  </p>
 											                        <p><strong>系统未启动的服务：</strong>Apache  tomcat mysql  </p>
 											                        <p><strong>系统已安装的服务：</strong>Apache  tomcat mysql  vsftp </p>
 											                        <p><strong>系统有错误log的服务</strong>：Apache   vsftp </p>
													</div>
												</div>
											</div>
											<div class="left-bot-corner png"><div class="right-bot-corner png"><div class="border-bot png"></div></div></div>
										</div>
<!-- box end -->
									</div>
									<!--h2>Recent Articles</h2>
									<ul class="items-list">
										<li>
											<img alt="empty-img" src="{% static "images/empty-img.gif" %}" />
											<h3><a href="about.html">About Whirlpool</a></h3>
											Whirlpool is a powerful circular current of water (usually the result of conflicting tides). There are many other definitions of whirlpool to get some of them - just search in Google for define: whirlpool.
										</li>
										<li>
											<img alt="empty-img" src="{% static "images/empty-img.gif" %}" />
											<h3>About Whirlpool Template</h3>
											Free 1028X768 Optimized Website Template Collect from cssMoban.com! We really hope that you like this template and will use for your websites.
										</li>
										<li>
											<img alt="empty-img" src="{% static "images/empty-img.gif" %}" />
											<h3>About Other Whirlpools</h3>
											There so many other whirlpools! Learn more about them in this sample article.
										</li>
									</ul-->
								</div>
							</div>
						</div>
<!-- footer -->
						<div id="footer">
							<div class="indent">
								<div class="fleft">Copyrights -&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 付炜超的 linux 运维管理平台</div>
								<!--div class="fright"><p>Collect from </p></div-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
